# Create a pandas dataframe from this url.

In [4]:
import pandas as pd

url = 'https://raw.githubusercontent.com/usama6naseer/largest_object/master/log.csv'

def return_df(url):
    if url.endswith('.csv'):
        datas = pd.read_csv(url)
        return datas
    
    else:
        raise Exception('URL entered is incorrect.')
        
dataframe = return_df(url)

print(dataframe)

           9           qq.com
0         11       taobao.com
1         12      twitter.com
2         15           vk.com
3         16         live.com
4         21        weibo.com
...      ...              ...
15032  93939       moh.gov.sg
15033  93940  quericavida.com
15034  93941   jihadology.net
15035  93942          vlsu.ru
15036  93943    books24x7.com

[15037 rows x 2 columns]

In [5]:
print(dataframe.head(5))

    9       qq.com
0  11   taobao.com
1  12  twitter.com
2  15       vk.com
3  16     live.com
4  21    weibo.com

In [6]:
print(dataframe.describe)

<bound method NDFrame.describe of            9           qq.com
0         11       taobao.com
1         12      twitter.com
2         15           vk.com
3         16         live.com
4         21        weibo.com
...      ...              ...
15032  93939       moh.gov.sg
15033  93940  quericavida.com
15034  93941   jihadology.net
15035  93942          vlsu.ru
15036  93943    books24x7.com

[15037 rows x 2 columns]>

In [7]:
print(dataframe.shape)

(15037, 2)

In [8]:
print(dataframe.tail(5))

           9           qq.com
15032  93939       moh.gov.sg
15033  93940  quericavida.com
15034  93941   jihadology.net
15035  93942          vlsu.ru
15036  93943    books24x7.com